style.css

body {
    background-color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    font-variant: small-caps;
    font-weight: 800;}

h1 {
    background-color: royalblue;
    color: seashell;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;}

.font-red {
    color: cornsilk;}

.font-green {
    color: green;}

.bg-blue {
    background-color: royalblue;}
.bg-black {
    background-color: black;}

#alfie {
    background-color: green;}

#sophie {
    background-color: pink;}
